<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./tests/bootstrap.php"
        colors="true"
        stopOnFailure="true"
        beStrictAboutChangesToGlobalState="true"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="tests">
<!--            <file>tests/HttpGetTest.php</file>-->
<!--            <file>tests/MessageTest.php</file>-->
<!--            <file>tests/UserTest.php</file>-->
<!--            <file>tests/GroupTest.php</file>-->
<!--            <file>tests/TeamsTest.php</file>-->
<!--            <file>tests/LicensesTest.php</file>-->
<!--            <file>tests/SoundsTest.php</file>-->
<!--            <file>tests/LimitsTest.php</file>-->
        </testsuite>
    </testsuites>
</phpunit>